.post-text_aside-float {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F2;
    width: 258px;
    float: right;
    margin-left: 15px;
    border-radius: 0 60px 0 60px;
    padding: 20px 0;
}
.post-text_aside-float p {
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
.post-text_aside-float-img {
    margin: 16px 0 5px 0;
}
.post-text_aside-float img {
    display: block;
    border-radius: 50%;
    border:  #6BB9B5 5px solid;
    margin: 0px 20px;
    position: relative;
}
[class^="arrow"] {
    width: 20px;
    height: 10px;
    background-color: none;
    background-image: url("../img/arrow-short.svg");
    background-repeat: no-repeat;
    background-size: 20px 10px;
    border: none;
    cursor: pointer;
}
[class^="arrow"]:hover,
[class^="arrow"]:focus-visible {
    opacity: 0.6;
}
[class^="arrow"]:active {
    opacity: 0.4;
}
.arrow-previous {
    transform: rotate(180deg);
}
[class^="arrow"]:disabled {
    cursor:auto;
    opacity: 0.5;
}

.post-text_aside-float a {
    text-decoration: none;
    color: black;
}
.post-text_aside-float a:hover,
.post-text_aside-float a:focus-visible {
    opacity: 0.6;
}
.post-text_aside-float a:active {
    opacity: 0.4;
}

