/* --- БАЗОВЫЕ --- */

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    clip: rect(0 0 0 0);
  clip-path: inset(100%) (для поддержки браузеров где нет клип рект);
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%; /* or 31px */
    color: #000000;

    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.container-1200 {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-700 {
    width: 700px;
    margin: 0 auto;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px
}

.three-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}
.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #D7D9DF;;
}


[class$="-btn"] {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
[class$="-btn"]:hover,
[class$="-btn"]:focus-visible {
    opacity: 0.6;
}
[class$="-btn"]:active {
    opacity: 0.4;
}
[class$="-btn"]:disabled {
    cursor:auto;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a[href]:hover,
a[href]:focus-visible {
    color: black;
    opacity: 0.6;
    border-bottom: #000000 1px solid;
}
a[href]:active {
    color: black;
    opacity: 0.4;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

/* --- ОСНОВНОЙ БЛОК --- */

main {
    padding-bottom: 166px;
}


/* --- ХЛЕБНЫЕ КРОШКИ --- */

.breadcrumbs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;

    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.breadcrumb {
    padding-right: 5px;
}
.breadcrumb:not(:last-child)::after {
    content: "/";
}
