/* --- БАЗОВЫЕ --- */

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    clip: rect(0 0 0 0);
  clip-path: inset(100%) (для поддержки браузеров где нет клип рект);
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%; /* or 31px */
    color: #000000;

    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.container-1200 {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-700 {
    width: 700px;
    margin: 0 auto;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.three-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}
.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #D7D9DF;;
}


[class$="-btn"] {
    background-color: none;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
[class$="-btn"]:hover,
[class$="-btn"]:focus-visible {
    opacity: 0.6;
}
[class$="-btn"]:active {
    opacity: 0.4;
}
[class$="-btn"]:disabled {
    cursor:auto;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
a[href]:hover,
a[href]:focus-visible {
    color: black;
    opacity: 0.6;
    border-bottom: #000000 1px solid;
}
a[href]:active {
    color: black;
    opacity: 0.4;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

/* --- ОСНОВНОЙ БЛОК --- */

main {
    padding-bottom: 166px;
}


/* --- ХЛЕБНЫЕ КРОШКИ --- */

.breadcrumbs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;

    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.breadcrumb {
    padding-right: 5px;
}
.breadcrumb:not(:last-child)::after {
    content: "/";
}


/* --- ШАПКА СТАТЬИ --- */

.article-header_container {
    position: relative;
}

.lead-pic {
    display: block;
    margin-bottom: 30px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) ;
    width: 656px;
    padding: 20px 0px;
    margin: 0 auto;
    
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%; /* or 60px */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    background-color: white;
}



.meta-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

[class^="meta-item"] {
    font-size: 16px;
    line-height: 170%;
    padding-left: 35px;

    background-repeat: no-repeat;
    background-position: 0 center;
}
.meta-item-date {
    background-image: url("../img/date-icon.svg");
}
.meta-item-time {
    background-image: url("../img/time-icon.svg");
}
.meta-item-views {
    background-image: url("../img/views-icon.svg");
}


.lead b {
    font-weight: 600;
}


/* --- СТАТЬЯ --- */

.rules-list {
    list-style: none;
    margin: 0;
    padding: 0;

    counter-reset: rule;
    /* outline: auto; */
}

.rule-item {
    counter-increment: rule;
    position: relative;
}
.rules-list:nth-of-type(2) {
    counter-reset: rule 4;
}

.rule-item::before {
    content: counter(rule);
    position: absolute;
    top: -36px;
    left: 235px; 

    font-family: 'Cormorant', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 150%;
}



.post-heading {
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;

    margin: 67px 0 15px 0;
    padding: 0 0 0 64px;
}

.post-text {
    margin-bottom: 30px;
}

.post-pic {
    display: block;
}

.post-text_aside {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    width: 327px;
}

.post-quote {
    border-left: 5px solid black;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    position: relative;
}
.post-quote::before {
    content: "Цитаты";
    position: absolute;
    transform: rotate(-90deg);
    top: 120px;
    left: -120px;
    /* padding-right: 70px; */
    font-weight: 700;
    font-size: 36px;
    line-height: 170%;
    /* or 61px */
    color: #F1F1F2;
}
.post-quote::after {
    content: "";
    position: absolute;
    top: 15px;
    left: -72px;
    width: 38px;
    height: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 170%;
    /* or 61px */
    background-image: url(../img/quotes-icon.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
.post-quote p {
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-style: italic;
    font-size: 30px;
    line-height: 150%;
    margin-bottom: 20px;
    /* or 45px */
}
.post-quote cite {
    font-style: normal;
    opacity: 0.5;
}

.float {
    float: left;
    padding-top: 10px;
    padding-right: 30px;
}

.article-footer {
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    margin-bottom: 30px;
    margin-top: 56px;
}
.suggestion-item {
    margin-bottom: 10px;

}
.suggestion-item a {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    text-decoration-line: underline;
    color: #0094FF;
}
.suggestion-item a:visited {
    color: #0094FF;
}
.suggestion-item a[href]:hover,
.suggestion-item a[href]:focus-visible {
    color: #0094FF;
    opacity: 0.6;
    border-bottom: none;
}
.suggestion-item a[href]:active {
    color: #0094FF;
    opacity: 0.4;
    border-bottom: none;
}